.progress--div {
    display: flex;
    align-items: center;
}


.progress-line {
    width: 60px;
    height: 2px;
    background-color: #ccc; 
    margin-left: 26px;
}

.progress-line-color {
    background-color: blue; 
    
}
.number{
    border-radius: 50%;
    border: 2px solid rgb(154, 165, 154);
    padding: 1.5rem;
    background-color: rgb(105, 214, 105);
}
.number-bg{
    border-radius: 50%;
    border: 2px solid rgb(154, 165, 154);
    padding: 0.5rem;
   
}